body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 1.8em;
    font-weight: 900;
}

h2 {
    font-size: 1.5em;
    line-height: 1.7em;
    font-weight: 900;
    margin-top: 2em;
}

h3 {
    font-size: 1.3em;
    margin-top: 2.2em;
}

p, li {
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 300;
}

small {
    font-size: 0.66em;
}

pre, code {
    font-family: "Courier 10 Pitch", Courier, monospace;
}

pre {
    background: #eee;
    font-size: 1rem;
    line-height: 1.3rem;
    overflow: auto;
    padding: 0.9em;
}

.site-ribbon {
    color: #fff;
    background-color: #F06628;
    text-align: center;
    border-color: #E34A28;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.site-ribbon p {
    font-weight: bold;
    line-height: 1.9rem;
}

.site-ribbon * {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.3em;
    padding-right: 1.3em;
    max-width: 100%;
}

.site-header {
    color: #999;
}

.site-header a {
    text-decoration: none;
}

.site-header .left {
    float:left;
    margin-right: 20px;
}

.site-header .right {
    float:left;
    max-width: 50%;
}

.site-footer {
    color: #999;
}

.home-logo {
    text-align: center;
}

.home-title {
    text-align: center;
    font-size: 3.5em;
    line-height: 3rem;
}

.home a, .home a:visited {
    text-decoration: none;
    color: #4183c4;
}

.home a:hover {
    text-decoration: underline;
}

.post {
    clear: both;
}

.post a {
    color: #324fe1;
    text-decoration: none;
}

.post a:active {
    color: #ee0000;
}

.post td {
    padding: 10px 2px 10px 2px;
}

ul.post-list {
    margin: 0;
    padding: 0;
}

.post-list li {
    list-style-type: none;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.post-meta {
    font-size: 0.9em;
    color: #aaa;
}

.post-tags ul {
    margin: 1em 0px 1em 0px;
    padding: 0;
}

.post-tags li {
    font-size: x-small;
    line-height: 2.5em;
    color: #fff;
    list-style-type: none;
    display: inline;
    background-color: #aaa;
    margin: auto 5px auto 0px;
    padding: 4px 7px 4px 7px;
}

.related-posts {
    margin: 1em 0em 1em 0em;
    padding: 0em 1em 0.5em 1em;
    background-color: #fffde7;
    border-style: solid;
    border-width: 1px;
    border-color: #fff9c4;
}

.related-posts h4 {
    padding-left: 40px;
}

.related-posts a {
    color: #324fe1;
    text-decoration: none;
}

.related-posts a:active {
    color: #ee0000;
}

/* big screens */
@media screen and (min-width: 1250px)
{
    .wrapper {
        max-width: 1200px;
    }
}

/* iPhone */
@media screen and (max-device-width: 480px) {
    body, head, div {
        overflow: hidden; /* avoid horizontal scrolling because of long text */
    }

    .wrapper {
        padding-left: 0.6em;
        padding-right: 0.6em;
    }

    .home-logo img {
        max-width: 240px;
    }
}
