<footer class="site-footer">
    <div class="wrapper">
        <p>
            <small>
                <!-- This website uses awesome icons from XXXX. -->
                <a href="https://github.com/kiewic/kiewic.github.io">Monkey Weekend</a>
                is hosted on <a href="https://pages.github.com/">GitHub Pages</a>
                and got some inspiration from <a href="https://github.com/Ferdi265/ferdi265.github.io">Ferdi265</a>.
                Follow Monkey Weekend on <a href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fmonkeyweekend.com%2Ffeed%2F" target="blank">feedly</a>
                or <a href="https://github.com/kiewic/">GitHub</a>.
            </small>
        </p>
    </div>
</footer>
