<footer class="site-footer">
    <div class="wrapper">
        <p>
            <small>
                <!-- This website uses awesome icons from XXXX. -->
                Follow kiewic on
                <i class="fa fa-github" aria-hidden="true"><a href="https://github.com/kiewic">GitHub</a></i>,
                <i class="fa fa-twitter" aria-hidden="true"><a href="https://twitter.com/kiewic">Twitter</a></i> or
                <i class="fa fa-rss" aria-hidden="true"><a href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fkiewic.com%2Ffeed%2F" target="blank">feedly</a></i>.
                <a href="https://github.com/kiewic/kiewic.github.io">Kiewic</a>
                got some inspiration from <a href="http://ferdi265.github.io/">Ferdi265</a>.
            </small>
        </p>
    </div>
</footer>
