<header class="site-header">
    <div class="wrapper">
        <div class="site-title">
            <div class="left">
                <a href="{{ site.baseurl }}/">
                    <img src="/content/logo.png" width="78" alt="Monkey Weekend" title="Sorry for the lame logo, we do not have budget to pay a designer." />
                </a>
            </div>
            <div class="right">
                <a href="{{ site.baseurl }}/">
                    <h1 class="home-title">kiewic&rsquo;s<br />blog</h1>
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</header>
