<header class="site-header">
    <div class="wrapper">
        <div class="site-title">
            <div>
                <a href="{{ site.baseurl }}/">
                    <img src="/assets/images/rabbit.svg" width="40" height="40" alt="Kiewic logo" title="Leave a message if you see this" />
                </a>
            </div>
            <div>
                <a href="{{ site.baseurl }}/">
                    <h1 class="home-title">best practices</h1>
                </a>
            </div>
        </div>
    </div>
</header>
