---
layout: default
comments: true
---
{% include header.html %}
<div class="page-content">
    <div class="wrapper">
        <div class="post">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
            <article class="post-content">
                {{ content }}
            </article>
            <div class="post-tags">
                <ul>
                    {% for tag in page.tags %}
                    <li> {{tag}} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="disqus wrapper">
        {% include disqus.html %}
    </div>
</div>
{% include footer.html %}


